## Install MySQL Python Client

In [1]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient (from mysql)
  Downloading mysqlclient-2.2.0.tar.gz (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.5/89.5 kB 2.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.0-cp310-cp310-linux_x86_64.whl size=123667 sha256=a1a798e032f18e000e238b3f444f0ef1229448d9a29c08104780dc61bd5694c5
  Stored in directory: /root/.cache/pip/wheels/a4/f8/fd/0399687c0abd03c10c975ed56c692fcd3d0fb80440b5a661f1
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.0

In [2]:
%load_ext sql

# 1. Database Connection
## Use the following command to connect to SQLite database:

In [3]:
%%sql
sqlite:///top_twitch_streamers.db

# 2. Table Creation
## Create tables in SQLite database to structure data. Here's an example of creating tables:

# 2.1. Create 'streamers_info_table'

In [4]:
%%sql

CREATE TABLE streamers_info_table (
  Channel VARCHAR(225) NOT NULL PRIMARY KEY,
  Partnered BOOLEAN,
  Mature BOOLEAN,
  Language VARCHAR(225)
);

 * sqlite:///top_twitch_streamers.db
Done.

[]

# 2.2. Create 'Stream_metrics_table'

In [5]:
%%sql

CREATE TABLE Stream_metrics_table(
  WatchTimeMinutes VARCHAR(225),
  StreamTimeMinutes VARCHAR(225),
  Channel VARCHAR(225),
  FOREIGN KEY (Channel) REFERENCES streamers_info_table(Channel)
);

 * sqlite:///top_twitch_streamers.db
Done.

[]

# 2.3. Create 'Viewer_metric_table'

In [6]:
%%sql

CREATE TABLE Viewer_metric_table(
  Channel VARCHAR(225),
  PeakViewers INT,
  AvarageViewers INT,
  Followers INT,
  FollowersGained INT,
  ViewedGained INT,
  FOREIGN KEY (Channel) REFERENCES  streamers_info_table(Channel)
)

 * sqlite:///top_twitch_streamers.db
Done.

[]

# Using pandas library to view .CSV file

1.   List item
2.   List item

In [7]:
import sqlite3
import pandas as pd

In [11]:
df_csv= pd.read_csv(r'/content/twitchdata-update.csv')

In [12]:
df_csv.head()

,Channel,Watch time(Minutes),Stream time(minutes),Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,xQcOW,6196161750,215250,222720,27716,3246298,1734810,93036735,True,False,English
1,summit1g,6091677300,211845,310998,25610,5310163,1370184,89705964,True,False,English
2,Gaules,5644590915,515280,387315,10976,1767635,1023779,102611607,True,True,Portuguese
3,ESL_CSGO,3970318140,517740,300575,7714,3944850,703986,106546942,True,False,English
4,Tfue,3671000070,123660,285644,29602,8938903,2068424,78998587,True,False,English

# 3. Data Insertion
## inserting data into the tables using INSERT statements.

# 3.1. Insert Data into 'streamers_info_table'

In [13]:
%%sql

INSERT INTO streamers_info_table (Channel, Partnered, Mature, Language)
VALUES ('xQcOW', 'True', 'False', 'English'),
       ('summit1g', 'True', 'False', 'English'),
       ('Gaules', 'True', 'True', 'Portuguese'),
       ('ESL_CSGO', 'True', 'False', 'English'),
       ('Tfue', 'True', 'False', 'English');

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: INSERT INTO streamers_info_table (Channel, Partnered, Mature, Language)
VALUES ('xQcOW', 'True', 'False', 'English'),
       ('summit1g', 'True', 'False', 'English'),
       ('Gaules', 'True', 'True', 'Portuguese'),
       ('ESL_CSGO', 'True', 'False', 'English'),
       ('Tfue', 'True', 'False', 'English');]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

# 3.2. Insert Data into 'Stream_metrics_table'

In [14]:
%%sql

INSERT INTO Stream_metrics_table (WatchTimeMinutes, StreamTimeMinutes, Channel)
VALUES ('6196161750', '215250', 'xQcOW'),
       ('6091677300', '211845', 'summit1g'),
       ('5644590915', '515280', 'Gaules'),
       ('3970318140', '517740', 'ESL_CSGO'),
       ('3671000070', '123660', 'Tfue');

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: INSERT INTO Stream_metrics_table (WatchTimeMinutes, StreamTimeMinutes, Channel)
VALUES ('6196161750', '215250', 'xQcOW'),
       ('6091677300', '211845', 'summit1g'),
       ('5644590915', '515280', 'Gaules'),
       ('3970318140', '517740', 'ESL_CSGO'),
       ('3671000070', '123660', 'Tfue');]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

# 3.3. Insert Data into 'Viewer_metric_table'

In [15]:
%%sql

INSERT INTO Viewer_metric_table (Channel, PeakViewers, AvarageViewers, Followers, FollowersGained, ViewedGained)
VALUES ('xQcOW', 222720, 27716, 3246298, 1734810, 93036735),
       ('summit1g', 310998, 25610, 5310163, 1370184, 89705964),
       ('Gaules', 387315, 10976, 1767635, 1023779, 102611607),
       ('ESL_CSGO', 300575, 7714, 3944850, 703986, 106546942),
       ('Tfue', 285644, 29602, 8938903, 2068424, 78998587);

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: INSERT INTO Viewer_metric_table (Channel, PeakViewers, AvarageViewers, Followers, FollowersGained, ViewedGained)
VALUES ('xQcOW', 222720, 27716, 3246298, 1734810, 93036735),
       ('summit1g', 310998, 25610, 5310163, 1370184, 89705964),
       ('Gaules', 387315, 10976, 1767635, 1023779, 102611607),
       ('ESL_CSGO', 300575, 7714, 3944850, 703986, 106546942),
       ('Tfue', 285644, 29602, 8938903, 2068424, 78998587);]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [16]:
%%sql
SELECT *
FROM streamers_info_table
LIMIT 5;

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: SELECT *
FROM streamers_info_table
LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [17]:
%%sql
SELECT *
FROM Stream_metrics_table
LIMIT 5;

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: SELECT *
FROM Stream_metrics_table
LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [18]:
%%sql
SELECT *
FROM Viewer_metric_table
LIMIT 5;

 * sqlite:///top_twitch_streamers.db
(sqlite3.DatabaseError) database disk image is malformed
[SQL: SELECT *
FROM Viewer_metric_table
LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/4xp6)